#claim_content
  .col-md-12
    .btn-group
      %button#new_attachment.btn.btn-default New
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Name
            %th
              Description
            %th
              Date
        %tbody.rowlink
          - @claim_issue.attachments.each do |attachment|
            %tr
              %td
                %a{href: "javascript:openLink('#{attachment['url']}');"}
                  = attachment['Name']
              %td 
                = attachment['description']
              %td
                =attachment['date'].strftime("%Y/%m/%d %H:%M:%S")
  #new_attachment_modal.jqmWindow
    Please wait...


:javascript
  $(function() {
    $('#new_attachment_modal').jqm({
      ajax: "/claim_issues/#{@claim_issue.issue_id}/attachments/new?claim_id=#{@claim_id}",
      trigger: '#new_attachment',
      modal: true
    });
    
    
  });
  function openLink(linkName)
    {
     window.open(linkName, '_blank', 'toolbar=0,location=0,menubar=0');
    
   } 