#claim_content
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Back Charge ID
            %th
              Type
            %th
              Date
            %th
              Requested Amount
            %th
              Approved Amount
            %th
              Status
        %tbody.rowlink
          - @claim_issue.back_charges.each do |back_charge|
            %tr
              %td
                %a{href: 'javascript:;', id: "back_charge_modal_#{back_charge.bc_id}"}
                  = back_charge.bc_id
              %td
                = back_charge.bc_type_code
              %td
                = back_charge.create_date
              %td
                = back_charge.estimate_amount
              %td
                = back_charge.authorized_amount
              %td
                = back_charge.bc_status

            %div.jqmWindow{id: "back_charge_modal_#{back_charge.bc_id}"}
              Please wait...

            :javascript
              $(function() {
                $('#back_charge_modal_#{back_charge.bc_id}').jqm({
                  ajax: "/claim_issues/#{@claim_issue.issue_id}/back_charges/#{back_charge.bc_id}/edit?claim_id=#{params[:claim_id]}",
                  trigger: 'a#back_charge_modal_#{back_charge.bc_id}'
                });
              });
