#claim_content
  .col-md-12
    .btn-group
      %button#new_journal.btn.btn-default New
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Date Posted
            %th
              Type
            %th
              Subject
            %th
              Author
        %tbody.rowlink
          - @claim_issue.journals.each do |journal|
            %tr
              %td
                %a{href: 'javascript:;', id: "journal_modal_#{journal.journal_id}"}
                  = journal.timestamp
              %td
                Documentation
              %td
                = journal.subject
              %td
                = journal.created_by

            %div.jqmWindow{id: "journal_modal_#{journal.journal_id}"}
              Please wait...

            :javascript
              $(function() {
                $('#journal_modal_#{journal.journal_id}').jqm({
                  ajax: "/claim_issues/#{@claim_issue.issue_id}/journals/#{journal.journal_id}/edit?claim_id=#{@claim_id}",
                  trigger: 'a#journal_modal_#{journal.journal_id}'
                });
              });


  #new_journal_modal.jqmWindow
    Please wait...


:javascript
  $(function() {
    $('#new_journal_modal').jqm({
      ajax: "/claim_issues/#{@claim_issue.issue_id}/journals/new?claim_id=#{@claim_id}",
      trigger: '#new_journal'
    });
  });
