#claim_content
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Date
            %th
              Reason
            %th
              Appointment Requested By
            %th
              Appointment Date
            %th
              Appointment Time
            %th
              Confirmed By
        %tbody.rowlink
          - @claim_issue.site_visits.each do |site_visit|
            %tr
              %td
                %a{href: 'javascript:;', id: "site_visit_modal_#{site_visit.sitevisit_id}"}
                  = site_visit.issue_date
              %td
                = site_visit.visit_reason
              %td
                = site_visit.appointment_date
              %td
                = site_visit.appointment_date.blank? ? "" : site_visit.appointment_time.strftime("%H:%M")
              %td
                %div{style: "color: red"} Coming Soon...

            %div.jqmWindow{id: "site_visit_modal_#{site_visit.sitevisit_id}"}
              Please wait...

            :javascript
              $(function() {
                $('#site_visit_modal_#{site_visit.sitevisit_id}').jqm({
                  ajax: "/site_visits/#{site_visit.sitevisit_id}/edit?claim_issue_id=#{site_visit.issue_id}&claim_id=#{@claim_id}",
                  modal: true,
                  trigger: 'a#site_visit_modal_#{site_visit.sitevisit_id}'
                });
              });
