#claim_content
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Date
            %th
              Amount
            %th
              Status
        %tbody.rowlink
          - @claim_issue.clarifications.each do |clarification|
            %tr
              %td
                %a{href: 'javascript:;', id: "clarification_modal_#{clarification.clarification_id}"}
                  = clarification.timestamp
              %td
                = clarification.subject
              %td
                = clarification.status

            %div.jqmWindow{id: "clarification_modal_#{clarification.clarification_id}"}
              Please wait...

            :javascript
              $(function() {
                $('#clarification_modal_#{clarification.clarification_id}').jqm({
                  ajax: "/clarifications/#{clarification.clarification_id}/edit?claim_issue_id=#{clarification.issue_id}",
                  trigger: 'a#clarification_modal_#{clarification.clarification_id}'
                });
              });

  .col-md-12
    .btn-group
      %button#new_clarification.btn.btn-default New
      %button.btn.btn-default.disabled Send
      %button.btn.btn-default.disabled Respond
      %button.btn.btn-default Cancel

      #new_clarification_modal.jqmWindow
        Please wait...

:javascript
  $(function() {
    $('#new_clarification_modal').jqm({
      ajax: "/claim_issues/#{@claim_issue.issue_id}/clarifications/new",
      trigger: '#new_clarification'
    });
  });
