.col-md-10
  #claim_content
    .col-md-12
      .table-responsive
        %table.table.table-striped.table-hover
          %thead
            %tr
              %th
                = t('claim_issues_date')
              %th
                = t('claim_issues_subject')
              %th
                = t('claim_issues_from')
              %th
                = t('claim_issues_status')
          %tbody.rowlink{"data-link" => "row"}
            - @claim_issue.clarifications.each do |clarification|
              %tr
                %td
                  %a{:href => "#"}
                    = clarification.created_at
                %td=clarification.text
                %td=clarification.author
                %td

    .col-md-12
      .btn-group
        %button#new.btn.btn-default{:doc_type => "doc", :docname => "clarification_new", :target => "clarification_area", :type => "button"}
          = t('claim_issues_new')
        %button.btn.btn-default.disabled{:type => "button"}
          = t('claim_issues_send')
        %button.btn.btn-default.disabled{:type => "button"}
          = t('claim_issues_respond')
        %button.btn.btn-default{:type => "button"}
          = t('claim_issues_cancel')

    .table-responsive
      %table.table.table-striped.table-hover
        %tbody
          %tr
            %td
              = t('clarification_date')
            %td
              2014-01-09
          %tr
            %td
              = t('clarification_subject')
            %td
              Require more pictures
          %tr
            %td
              = t('clarification_text')
            %td
              Can you attach more pictures outlining the issue?
          %tr
            %td
              = t('clarification_response')
            %td
              I have attached the pictures.
