.col-md-12
  .claim_heading
    = t('claim_issues_heading')
    = @claim_issue.issue_id
     
.clearfix
  .col-md-12
    .col-md-5
      .col-md-6
        %label= t('claim_issues_item_code')
      .col-md-6
        = @claim_issue.item_code
    .col-md-5
      .col-md-6
        %label= t('claim_issues_quantity_ordered')
      .col-md-6
        = @claim_issue.quantity
    .col-md-2
       
  .col-md-12
    .col-md-5
      .col-md-6
        %label= t('claim_issues_quantity_affected')
      .col-md-6
        = @claim_issue.affected_quantity
    .col-md-5
      .col-md-6
        %label= t('claim_issues_reason')
      .col-md-6
        = @claim_issue.reason_code
    .col-md-2
       
  .col-md-12
    .col-md-5
      .col-md-6
        %label= t('claim_issues_problem_description')
      .col-md-6
        = @claim_issue.claim_description
    .col-md-5
      .col-md-6
        = t('claim_issues_status')
      .col-md-6
        = @claim_issue.status
    .col-md-2
       
  .col-md-12.box_top
    %br/
  .col-md-12
    .col-md-2
      %ul.nav.nav-sidebar
        %li#default.active{:doc_type => "view", :docname => "clarifications", :target => "claim_content"}
          %a{:href => "#"}
            = t('claim_issues_clarifications')
        %li#menu1{:doc_type => "view", :docname => "otherinfo", :target => "claim_content"}
          %a{:href => "#"}= t('claim_issues_other_information')
        %li{:doc_type => "view", :docname => "actions", :target => "claim_content"}
          %a{:href => "#"}= t('claim_issues_actions')
        %li{:doc_type => "view", :docname => "backcharges", :target => "claim_content"}
          %a{:href => "#"}= t('claim_issues_back_charges')
        %li{:doc_type => "view", :docname => "rgas", :target => "claim_content"}
          %a{:href => "#"}= t('claim_issues_rgas')
        %li{:doc_type => "view", :docname => "site_visits", :target => "claim_content"}
          %a{:href => "#"}= t('claim_issues_site_visits')

    = render 'clarifications'
