.row
  .col-md-12
    .col-md-1
    .col-md-11
      %h3
        =t('user_management.new_profile_title')
      %h4 
        =t('user_management.second_step_msg')

  %br
  %br
  = form_for @user_profile, url: {action: "create"} do |f|
    %br
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:login, t('user_management.user_name_lbl'))
            .col-md-9= @user_profile.login
            = f.text_field :login, :value => @user_profile.login,:hidden => true
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:firstname, t('user_management.first_name_lbl'))
            .col-md-9= f.text_field :firstname
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:lastname, t('user_management.last_name_lbl'))
            .col-md-9= f.text_field :lastname
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:email, t('user_management.email_lbl'))
            .col-md-9= f.text_field :email
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:mobile, t('user_management.mobile_lbl'))
            .col-md-9= f.text_field :mobile
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:language, t('general_languages.language_label'))
            .col-md-9= f.select :language, [[t('general_languages.language_option_en'),'EN'],[t('general_languages.language_option_fr'),'FR']]
                                    
    %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:password, t('user_management.password_lbl'))
            .col-md-9= f.password_field :password   
     
    %br
    .row
      .col-md-12
        .col-md-1
        .col-md-11
          = f.submit t('user_management.add_user_lbl'), class: "btn btn-default btn-sm disabled", id: "save_btn"
          = link_to t('general_buttons.cancel_btn'), "/usermanagement/users/", class: "btn btn-default btn-sm"
    
                                    
:javascript                                    
  function check_mandatory() {
     
      if (($('#usermanagement_user_login').val()!="") && ($('#usermanagement_user_password').val()!="") && ($('#usermanagement_user_firstname').val()!="") && ($('#usermanagement_user_lastname').val()!="") && ($('#usermanagement_user_email').val()!=""))
      {
       $('#save_btn').removeClass( "disabled" );
      }
      else
      {
       $('#save_btn').addClass( "disabled" );
      }
  
  }
  $('#usermanagement_user_login').bind("keydown",function (e) {

        if (e.which == 9)        {
           check_mandatory();
           
           
          }
        if (e.which == 13)        {
          e.preventDefault();
          check_mandatory();
          
          }
          });
          
  $('#usermanagement_user_firstname').bind("keydown",function (e) {

        if (e.which == 9)        {
           check_mandatory();
           }
        if (e.which == 13)        {
          e.preventDefault();
          check_mandatory();
          }
          });
  $('#usermanagement_user_lastname').bind("keydown",function (e) {

        if (e.which == 9)        {
           check_mandatory();
           }
        if (e.which == 13)        {
          e.preventDefault();
          check_mandatory();
          }
          });
  $('#usermanagement_user_email').bind("keydown",function (e) {

        if (e.which == 9)        {
           check_mandatory();
           }
        if (e.which == 13)        {
          e.preventDefault();
          check_mandatory();
          }
          });
  $('#usermanagement_user_password').bind("keydown",function (e) {

        if (e.which == 9)        {
           check_mandatory();
           }
        if (e.which == 13)        {
          e.preventDefault();
          check_mandatory();
          }
          });