<div class="row">
<div class="col-md-12"> 

 <div class="col-md-1"></div>

 <div class="col-md-11">

 
    <h3>All Users</h3>
    </div>
 </div>
 
 
 <div class="row">
 <div class="col-md-12"> 
  <div class="col-md-1"></div>
 <div class="col-md-11">
<div class="col-md-12">
      	<%= link_to "New", "/usermanagement/users/new", class: "btn btn-default" %>
</div>
</div>
 </div>
 </div>
 
 <div class="row">
  <div class="col-md-12"> 
  <div class="col-md-1"></div>
   <div class="col-md-11">
    <div class="col-md-10">
     <div class="table-responsive">
      <table class="table table-striped table-hover">
       <thead>
        <tr>
         <th>
          Login Name</th>
         <th>
          First Name</th>
       <th>
          Last Name</th>
       <th>
          Last Login</th>
       
        </tr>
         <th>
          Last Login</th>  
        </tr>
       </thead>
       <tbody class="rowlink" data-link="row">
       
    <% @raw_members.each do |user_profile| %>       
       
    <tr>
     <td><a href="/usermanagement/users/<%= user_profile.idpid %>/edit"><%= user_profile.login %></a></td>
     <td><%= user_profile.firstname %></td>
      <td> <%= user_profile.lastname %></td>      
       <td> <%= user_profile.lastlogin %>
       </td>
        <td>   <%= link_to("/", method: :delete, data: {confirm: "Are you sure you want to delete this user?"}) do %><i class="glyphicon glyphicon glyphicon-trash icon-action" > </i><% end %>
</td>
     </tr>
    <% end %>
       </tbody>
      </table>
     </div>
    </div>
    
 </div>
</div>
</div>
</div>
</div>



