= form_for @user_profile, url: {action: "checkuser"} do |f|
  .row
    .col-md-12
      .col-md-1
      .col-md-11
        %h3
          =t('user_management.new_user_title')
        %h4 
          =t('user_management.first_step_msg')

  %br
  %br
  .row
    .col-md-12
      .col-md-1
      .col-md-11
        .col-md-3= label_tag(:login, t('user_management.username_lbl'))
        .col-md-3= f.text_field :login
        .col-md-6= @user_valid ? t('user_management.exists_msg') : t('user_management.username_prompt_msg')
        
  %br
  %br     
  .row
    .col-md-12
      .col-md-1
      .col-md-11
        .col-md-3
          = link_to t('general_buttons.cancel_btn'), "/usermanagement/users/", class: "btn btn-default btn-sm btn-primary" 
          -if @user_valid
            %a{:href=>'#', :class=> "btn btn-default btn-primary btn-sm", :id => "add_btn"} Add User
            = f.submit t('user_management.check_btn'), class: "btn btn-default btn-primary btn-sm", id: "save_btn"
          -else
            = f.submit t('user_management.check_btn'), class: "btn btn-default btn-primary btn-sm disabled", id: "save_btn"
:javascript                                    
  function check_mandatory() {
     
      if (($('#usermanagement_user_login').val()!="") && ($('#usermanagement_user_password').val()!="") && ($('#usermanagement_user_firstname').val()!="") && ($('#usermanagement_user_lastname').val()!="") && ($('#usermanagement_user_email').val()!=""))
      {
       $('#save_btn').removeClass( "disabled" );
      }
      else
      {
       $('#save_btn').addClass( "disabled" );
      }
  
  }
  $('#usermanagement_user_login').bind("keydown",function (e) {

        if (e.which == 9)        {
           check_mandatory();
           
           
          }
        if (e.which == 13)        {
          e.preventDefault();
          check_mandatory();
          $('#save_btn').focus();
          }
          });
  $('#add_btn').click(function (e) {
  
     window.location='/usermanagement/addotheruser?login='+$('#usermanagement_user_login').val();
  });
  