.row
  .col-md-12
    .col-md-1
    .col-md-11
      %h3
        =t('user_management.search_result_title')                     
  .row
    .col-md-12
      .col-md-1
      .col-md-11
        .col-md-10
          .table-responsive
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th
                    =t('user_management.login_name_lbl')
                  %th
                    =t('user_management.first_name_lbl')
                  %th
                    =t('user_management.last_name_lbl')
                  %th
                    =t('user_management.last_login_lbl')
              %tbody.rowlink{"data-link" => "row"}
                - @search_results.each do |user_profile|
                  %tr
                    %td
                      %a{:href => "/usermanagement/users/#{user_profile["id"]}/edit"}
                        = user_profile["profile"]["login"]
                    %td
                      = user_profile["profile"]["firstName"]
                    %td
                      = user_profile["profile"]["lastName"]
                    %td
                      = user_profile["lastLogin"]
                    %td                 
                      = link_to("/usermanagement/users/addotheruser", data: {confirm: t('user_management.add_user_comfirm_msg')}) do
                        %i.glyphicon.glyphicon-play-circle            
            #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                      %span{"aria-hidden" => "true"} &times;
                    %h4#myModalLabel.modal-title 
                      =t('user_management.add_to_org_msg')
                  .modal-body
                    \...
                  .modal-footer
                    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
                      =t('general_buttons.close_btn')
                    %button.btn.btn-primary{:type => "button"}
                      =t('user_management.save_changes_btn')