#clarification_new_wrapper

  %h5.modal-header Request to Close Issue
  = form_for @clarification, url: tekcare_claim_issue_back_charges_closereq_path(@clarification.issue_id, claim_id: @claim_id, bc_id: @bc_id), html: { class: 'form-horizontal', id: 'whatever' } do |f|

    - if @clarification.errors.any?
      #error_explanation
        %h2
          = pluralize(@clarification.errors.count, "error")
          prohibited this clarification from being saved:
        %ul
          - @clarification.errors.full_messages.each do |message|
            %li= message
        .confirm-dismiss
          %a.btn.btn-default.btn-sm
            OK
    = f.hidden_field :type
    %p.mod-author
      = f.label :sent_by
      = session[:FirstName] + ' ' + session[:LastName]
    %p.mod-subject
      = f.label :subject
      = @clarification.subject

    - if @clarification.type == 'question'
      %p.mod-question
        = f.label :content, "Reason for Closure"
        = f.text_area :content, :cols => "50", :rows => "10"
    Submitting this request will ask Teknion to Close this particular Back Charge.
    %br
    This request will be documented in the "Clarifications" section of the issue.
    %br
    .form-actions
      = submit_tag "Send", :class => [:btn, 'btn-primary']
      = button_tag "Cancel", :class => [:btn, 'btn-primary', 'jqmClose']
      
      
