%h5.modal-header 
  Back Charge ID: 
  = @back_charge.bc_header['bc_id']
= form_for @back_charge, url: tekcare_back_charge_path, method: :put, html: { class: 'form-horizontal', id: 'whatever', multipart: true } do |f|
  = hidden_field_tag 'claim_issue_id', @claim_issue_id
  .div
    .table-responsive
      %table.back-charge-details
        %tbody
          %tr 
            %td
              .field-wrapper
                %label Date
                = @back_charge.bc_header['create_date']
              .field-wrapper
                %label Currency
                %span.currency-radio
                  = @back_charge.bc_header['currency']
              .field-wrapper
                %label Type
                = @back_charge.bc_header['bc_type_code']
            %td.summary
              .field-wrapper
                %label Summary
                = @back_charge.bc_header['description']
           
        %table.table
          %tbody
            %tr
              %td{colspan: 2}
                %label Labour Type
                = @back_charge.bc_shared_costs['vc_reg_labour_type']
            %tr
              %td
                
                %table.hours-table
                  %tr
                    %th
                      \
                    %th.top.hrs
                      Hours
                    %th.top.rate
                      Rate
                    %th.top.subtotal
                      %span{:_fck_bookmark => "1", :style => "display: none;"}>
                      \ Sub-Total
                    
                    %tr
                      %th.left-labels
                        Regular
                      %td.hrs
                        = @back_charge.bc_shared_costs['vc_reg_labour_hours']
                      %td.rate
                        = number_to_currency(@back_charge.bc_shared_costs['vc_reg_labour_rate'])
                      %td
                        = number_to_currency(@reg_labour)
                      
                    %tr
                      %th.left-labels
                        Overtime
                      %td.hrs
                        = @back_charge.bc_shared_costs['vc_ot_labour_hours']
                      %td.rate
                        = number_to_currency(@back_charge.bc_shared_costs['vc_ot_labour_rate'])
                      %td
                        = number_to_currency(@ot_labour)
                      
                    %tr
                      %th.left-labels
                        Travel
                      %td.hrs
                        -
                      %td.rate
                        -
                      %td
                        = number_to_currency(@travel_labour)
                     
              %td
                %table.hours-table.other-cost
                  %tr
                    %th
                      \
                    %th.top.desc
                      Description
                    %th.top
                      Cost
                    %th.top.subtotal
                      Sub-Total
                    
                  %tr
                    %th.left-labels
                      Other Cost
                    %td.desc
                      = @back_charge.bc_shared_costs['field_othercost_1']
                    %td.rate
                      = @back_charge.bc_shared_costs['field_othercost_1_cost']
                    %td
                      \
                    
                  %tr
                    %th.left-labels
                      Other Cost
                    %td.desc
                      = @back_charge.bc_shared_costs['field_othercost_2']
                    %td.rate
                      = @back_charge.bc_shared_costs['field_othercost_2_cost']
                    %td
                      \
                    
                  %tr
                    %th.left-labels
                      Other Cost
                    %td.desc
                      = @back_charge.bc_shared_costs['field_othercost_3']
                    %td.rate
                      = @back_charge.bc_shared_costs['field_othercost_3_cost']
                    %td
                      \
        %table.table
        %tbody
          %tr
            %th{colspan: 4}
              %h5 Cost Summary
          %tr
            %td.cost-summary-info
              .field-wrapper
                %label Labour
                = number_to_currency(@total_labour)
              .field-wrapper
                %label Other Costs
                = number_to_currency(@total_other)
              .field-wrapper
                %label Total Amount Requested
                = number_to_currency(@total_request)
            %td.related-claims
              .field-wrapper
                %label Related Claims
                %span= @back_charge.bc_cost_splits.first['issue_id']

                  
  .form-actions
    = button_tag "Close", :class => [:btn, 'btn-primary', 'jqmClose']