= form_for @site_visit, url: tekcare_site_visit_path, method: :put, html: { class: 'form-horizontal', id: 'site_visit' } do |f|

  - if @site_visit.errors.any?
    #error_explanation
      %h2
        = pluralize(@site_visit.errors.count, "error")
        prohibited this site visit from being saved:
      %ul
        - @site_visit.errors.full_messages.each do |message|
          %li= message
  .table-responsive
    %table.table.table-striped
      %tbody.rowlink
        %tr
          %td
            = f.label :issue_date, "Date Issued"
          %td
            = @site_visit.issue_date
        %tr
          %td
            = f.label :reason, "Reason Requested"
          %td
            = @site_visit.visit_reason
        - if @site_visit.appointment_date.blank?
          %tr
            %td
              = f.label :site_visit_Contact_Name, "Contact Name"
            %td
              = text_field_tag 'site_visit_Contact_Name'
          %tr
            %td
              = f.label :site_visit_Contact_Nunmber, "Contact Number"
            %td
              = text_field_tag 'site_visit_Contact_Number'
          %tr
            %td
              = f.label :site_visit_Contact_Email, "Contact Email"
            %td
              = text_field_tag 'site_visit_Contact_Email'
          %tr
            %td
              = f.label :appointment_date, "Appointment Date"
            %td
              = date_select 'appointment_date',:appointment_date
          %tr
            %td
              = f.label :appointment_time, "Appointment Time"
            %td
              = time_select 'appointment_time', :appointment_time, {minute_step: 15}
          %tr
            %td
              = f.label :reason, "Confirmed By"
            %td
              = session["FirstName"] + " " + session["LastName"]
        -else
          %tr
            %td
              = f.label :site_contactname, "Contact Name"
            %td
              = @site_visit.site_contact_name
          %tr
            %td
              = f.label :site_contactnumber, "Contact Number"
            %td
              = @site_visit.site_contact_number
          %tr
            %td
              = f.label :site_contactemail, "Contact Email"
            %td
              = @site_visit.site_contact_email
          %tr
            %td
              = f.label :appointment_date, "Appointment Date"
            %td
              = @site_visit.appointment_date
          %tr
            %td
              = f.label :appointment_time, "Appointment Time"
            %td
              =  @site_visit.appointment_time
          
        %tr
          %td
            = f.label :postvisit_date, "Site Visit Performed On"
          %td
            = @site_visit.postvisit_date
        %tr
          %td
            = f.label :resolution, "Findings"
          %td
            = @site_visit.resolution  
            = hidden_field_tag :claim_id, @claim_id
            = hidden_field_tag :issue_id, @issue_id
  .form-actions
    - if @site_visit.appointment_date.blank?
      %a{:href => "javascript:submit_form()", :class => [:btn, 'btn-primary'], :id => "send_btn"} Send
      
    %a{:href => "#", :class => [:btn, 'btn-primary', 'jqmClose'], :id => "close_btn"} Close 
    
:javascript
  function submit_form(){
      $('form#site_visit').submit();
    }   
    