#journal_new_wrapper

  %h5.modal-header New Information
  = form_for @journal, url: teknion_claim_issue_journals_path(@journal.issue_id, claim_id: @claim_id), html: { class: 'form-horizontal' } do |f|

    - if @journal.errors.any?
      #error_explanation
        %h2
          = pluralize(@journal.errors.count, "error")
          prohibited this journal from being saved:
        %ul
          - @journal.errors.full_messages.each do |message|
            %li= message

    %p.mod-author
      = f.label :created_by
      = @journal.created_by
    %p.mod-title
      = f.label :subject
      = f.text_field :subject
    %p.mod-information
      = f.label :content
      = f.text_area :content, placeholder: 'Type your information here'

    -#= f.fields_for :journal_attachments do |journal_attachment_form|
      -#= journal_attachment_form.file_field :attachment

    .form-actions
      = submit_tag "Save", class: [:btn, 'btn-primary']

  -#:javascript
    -#$("form", "#journal_new_wrapper").ajaxForm({
      -#target: "#journal_new_wrapper",
      -#replaceTarget: true
    -#});



