.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only= t('header_toggle_navigation')
      %a.navbar-brand{:href => "/"}
        = image_tag("teklogo-green.jpg", :width => "50", :height => "50")
        = t('header_tekni_online')
    .navbar-collapse.collapse
      - if session[:FirstName] != nil
        %ul.nav.navbar-nav.navbar-left.main_top_menu
          - create_menu
          - @main_menu.each do |menu_item|
            - @sub_item = menu_item
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = @sub_item[0]
                %b.caret
              %ul.dropdown-menu
                - for i in 1..@sub_item.length
                  %li
                    %a{:href => "#"}= @sub_item[i]
      %ul.nav.navbar-nav.navbar-right
        - if session[:FirstName] == nil
          %li
            %a{:href => "/login/authenticates/new"}
              = t('header_login')
        - else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = render :text => session[:FirstName]
              = render :text => session[:LastName]
              = render :text => session[:Language]
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "/teknionline/profiles/edit"}
                  = t('header_account_settings')
              %li
                %a{:href => "/login/authenticates/logout"}
                  = t('header_log_out')
        %li
          %a{:href => "/portalmanager/appdefs"}
            = t('header_portal_admin')
        %li
          %a{:href => "#"}
            = t('header_help')
