%h5.modal-header New Back Charge
= form_for @back_charge, url: teknion_claim_issue_back_charges_path(@back_charge.issue_id, claim_id: @claim_id), html: { class: 'form-horizontal' } do |f|
  = hidden_field_tag 'claim_issue_id', @claim_issue_id
  .div
    .table-responsive
      %table.back-charge-details
        %tbody
          %tr
            %td
              .field-wrapper
                %label Date
                = @back_charge.bc_header['create_date']
              .field-wrapper
                %label Currency
                %span.currency-radio
                  = radio_button_tag 'currency',  "CAD", :checked => 'CAD'
                  = label_tag 'currency', "CAD"
                  = radio_button_tag 'currency',  "USD", :checked => 'USD'
                  = label_tag 'currency', "USD"     
              .field-wrapper
                %label Type
                = select_tag "bc_type_code", options_for_select([['With Product', 'BCFR'], ['Without Product', 'BCWP']], @back_charge.bc_header['bc_type_code'])
            %td.summary
              .field-wrapper
                %label Summary
                = text_area_tag 'summary',nil, :cols => "60", :rows => "4"  
        %table.table
          %tbody
            %tr
              %td{colspan: 2}
                %label Labour Type
                = select_tag "vc_reg_labour_type", options_for_select([['Union', 'UNION'], ['Not Union', 'NOTUNION']], @back_charge.bc_shared_costs['vc_reg_labour_type'])
            %tr
              %td
                %table.hours-table
                  %tr
                    %th
                      \
                    %th.top.hrs
                      Hours
                    %th.top.rate
                      Rate
                    %th.top.subtotal
                      %span{:_fck_bookmark => "1", :style => "display: none;"}>
                      \ Sub-Total
                    
                    %tr
                      %td.left-labels
                        Regular
                      %td.hrs
                        = text_field_tag 'vc_reg_labour_hours', 0,size: 5
                        -#, @back_charge.bc_shared_costs['vc_reg_labour_hours']
                      %td.rate
                        = text_field_tag 'vc_reg_labour_rate', '0.00'
                        -#@back_charge.bc_shared_costs['vc_reg_labour_rate']
                      %td
                        = text_field_tag 'subtotal_reg_labour', '0.00', disabled: true
                      
                    %tr
                      %td.left-labels
                        Overtime
                      %td.hrs
                        = text_field_tag 'vc_ot_labour_hours', 0,size: 5
                      %td.rate
                        = text_field_tag 'vc_ot_labour_rate','0.00'
                      %td
                        = text_field_tag 'subtotal_ot_labour', '0.00', disabled: true
                      
                    %tr
                      %td.left-labels
                        Travel
                      %td.hrs
                        = text_field_tag 'fc_travel_hours', 0,size: 5
                      %td.rate
                        = text_field_tag 'fc_travel_rate','0.00'
                      %td
                        = text_field_tag 'subtotal_travel', '0.00', disabled: true
                     
              %td
                %table.hours-table.other-cost
                  %tr
                    %th
                      \
                    %th.top.desc
                      Description
                    %th.top
                      Cost
                  %tr
                    %th.left-labels
                      Other Cost
                    %td.desc
                      = text_area_tag 'field_othercost_1', nil, :cols => "20", :rows => "2"  
                    %td.rate
                      = text_field_tag 'field_othercost_1_cost','0.00'                    
                  %tr
                    %th.left-labels
                      Other Cost
                    %td.desc
                      = text_area_tag 'field_othercost_2', nil, :cols => "20", :rows => "2"
                    %td.rate
                      = text_field_tag 'field_othercost_2_cost','0.00'
                  %tr
                    %th.left-labels
                      Other Cost
                    %td.desc
                      = text_area_tag 'field_othercost_3', nil, :cols => "20", :rows => "2"  
                    %td.rate
                      = text_field_tag 'field_othercost_3_cost','0.00'
      %table.table
        %tbody
          %tr
            %th{colspan: 4}
              %h5 Cost Summary
          %tr
            %td.cost-summary-info
              .field-wrapper
                %label Labour
                = text_field_tag 'total_labour','0.00', disabled: true
              .field-wrapper
                %label Other Costs
                = text_field_tag 'total_other','0.00', disabled: true
              .field-wrapper
                %label Total Amount Requested
                = text_field_tag 'total_requested','0.00', disabled: true
            %td.related-claims
              .field-wrapper
                %label Related Claims
                %span
                  = select_tag "related_claims", options_for_select(@related_claims, @back_charge.issue_id),multiple:  true
          %tr
            %td
              %label Attachments
              = f.file_field 'file_uploaded'
              %br
                  
    .form-actions
      %a{:href => "javascript:submit_form()", :class => [:btn, 'btn-primary','disabled'], :id => "send_btn"} Send
      %a{:href => "#", :class => [:btn, 'btn-primary', 'jqmClose'], :id => "close_btn"} Cancel 
    
    
  :javascript
    function submit_form(){
      $('#send_btn').addClass("disabled");
      $('form#new_teknion_back_charge').submit();
    }
    
    function calc_totals() {
    var reg_subtotal=parseInt($('#vc_reg_labour_hours').val()) * parseInt($('#vc_reg_labour_rate').val());
           $('#subtotal_reg_labour').val(reg_subtotal);
    
           var ot_subtotal=parseInt($('#vc_ot_labour_hours').val()) * parseInt($('#vc_ot_labour_rate').val());
           $('#subtotal_ot_labour').val(ot_subtotal);
             var travel_subtotal=parseInt($('#fc_travel_hours').val()) * parseInt($('#fc_travel_rate').val());
           $('#subtotal_travel').val(travel_subtotal);
           var total_labour=reg_subtotal+ot_subtotal+travel_subtotal;
           $('#total_labour').val(total_labour);
           var total_other_cost=parseInt($('#field_othercost_1_cost').val()) + parseInt($('#field_othercost_2_cost').val()) + parseInt($('#field_othercost_3_cost').val());
           $('#total_other').val(total_other_cost);
           var total_requested=total_labour+total_other_cost;
           $('#total_requested').val(total_requested);
           check_mandatory();
    }
    function check_mandatory() {
     
      if (($('#summary').val()!="") && (parseFloat($('#total_requested').val()) > 0))
      {
       $('#send_btn').removeClass( "disabled" );
      }
    }
    
    $('#vc_reg_labour_rate').focus(function() {
        calc_totals();
        check_mandatory();
    });
      $('#vc_reg_labour_hours').focus(function() {
        calc_totals();
        check_mandatory();
    });
    
        $('#vc_ot_labour_rate').focus(function() {
        calc_totals();
        check_mandatory();
    });
    
        $('#vc_ot_labour_hours').focus(function() {
        calc_totals();
        check_mandatory();
    });
    
    
        $('#fc_travel_rate').focus(function() {
        calc_totals();
        check_mandatory();
    });
    
        $('#fc_travel_hours').focus(function() {
        calc_totals();
        check_mandatory();
    });
    
    
        $('#field_othercost_1_cost').focus(function() {
        calc_totals();
        check_mandatory();
    });
        $('#field_othercost_2_cost').focus(function() {
        calc_totals();
        check_mandatory();
    });
        $('#field_othercost_3_cost').focus(function() {
        calc_totals();
        check_mandatory();
    });
    $('#vc_reg_labour_rate').bind("keydown",function (e) {

        if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#vc_ot_labour_hours').focus();
          calc_totals();
          }
          });
   
    $('#vc_reg_labour_hours').bind("keydown",function (e) {

        if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#vc_reg_labour_rate').focus();
          calc_totals();
          }
          });
   
    $('#vc_ot_labour_rate').bind("keydown",function (e) {

        if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#fc_travel_hours').focus();
          calc_totals();
          }
          });
    $('#vc_ot_labour_hours').bind("keydown",function (e) {

        if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#vc_ot_labour_rate').focus();
          calc_totals();
          }
          });
          
    $('#fc_travel_rate').bind("keydown",function (e) {

        if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#field_othercost_1').focus();
          calc_totals();
          }
          });
    
    $('#fc_travel_hours').bind("keydown",function (e) {

        if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#fc_travel_rate').focus();
          calc_totals();
          }
          });
    
    $('#field_othercost_1_cost').bind("keydown",function (e) {

         if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#field_othercost_2').focus();
          calc_totals();
          }
          });  
    $('#field_othercost_2_cost').bind("keydown",function (e) {

         if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#field_othercost_3').focus();
          calc_totals();
          }
          });
    $('#field_othercost_3_cost').bind("keydown",function (e) {

         if (e.which == 9)        {
           calc_totals();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#send_btn').focus();
          calc_totals();
          }
          });
          
    $('#summary').bind("keydown",function (e) {

         if (e.which == 9)        {
           check_mandatory();
           }
        if (e.which == 13)        {
          e.preventDefault();
          $('#vc_reg_labour_type').focus();
          check_mandatory();
          }
          });
          
          $('#vc_reg_labour_type').bind("keydown",function (e) {

         
        if (e.which == 13)        {
          e.preventDefault();
          $('#vc_reg_labour_hours').focus();
          }
          });
          
          
          
          
          $('#bc_type_code').bind("keydown",function (e) {

         
        if (e.which == 13)        {
          e.preventDefault();
          $('#summary').focus();
          }
          });
          
          
          $('#currency_CAD').bind("keydown",function (e) {

         
        if (e.which == 13)        {
          e.preventDefault();
          $('#bc_type_code').focus();
      
          }
          });
          
          
          $('#currency_USD').bind("keydown",function (e) {

         
        if (e.which == 13)        {
          e.preventDefault();
          $('#bc_type_code').focus();

          }
          });
          
          

          
   