#site_visit_response_modal

  %h5.modal-header Site Visit Response
  = form_for @site_visit, url: teknion_claim_issue_site_visits_path(@site_visit.claim_issue_id), html: { class: 'form-horizontal' } do |f|

    - if @site_visit.errors.any?
      #error_explanation
        %h2
          = pluralize(@site_visit.errors.count, "error")
          prohibited this site visit from being saved:
        %ul
          - @site_visit.errors.full_messages.each do |message|
            %li= message

    %p.mod-created
      = f.label :created_at
      = f.text_field :created_at, readonly: true
    %p.mod-name
      = f.label :site_visit_name
      = f.text_field :site_visit_name
    %p.mod-appointment-date
      = f.label :appointment_date
      = f.text_field :appointment_date
    %p.mod-appointment-time
      = f.label :appointment_time
      = f.text_field :appointment_time
    %p.mod-requested-by
      = f.label :author, 'Appointment Requested By'
      = f.text_field :author
    %p.mod-confirmed-by
      = f.label :confirmed_by, 'Confirmed By'
      = f.text_field :confirmed_by

      .form-actions
        = f.button :submit, class: [:btn, 'btn-primary']

  :javascript
    $("form", "#site_visit_response_modal").ajaxForm({
      target: "#site_visit_response_modal",
      replaceTarget: true
    });
