= form_for @clarification, url: teknion_clarification_path(@clarification.clarification_id), html: { class: 'form-horizontal', id: 'whatever' } do |f|

  - if @clarification.errors.any?
    #error_explanation
      %h2
        = pluralize(@clarification.errors.count, "error")
        prohibited this clarification from being saved:
      %ul
        - @clarification.errors.full_messages.each do |message|
          %li= message

  %p.mod-created
    = f.label :timestamp, "Created"
    = f.text_field :timestamp, readonly: true
  %p.mod-author
    = f.label :sent_by, "Author"
    = f.text_field :sent_by, readonly: true
  %p.mod-subject
    = f.label :subject
    = f.text_field :subject, readonly: @clarification.subject.present?
  %p.mod-question
    = f.label :content
    = f.text_field :content, readonly: @clarification.content.present?
  -#%p.mod-answer
    -#= f.label :answer
    -#= f.text_area :answer, readonly: @clarification.answer.present?

  .form-actions
    = f.button :submit, class: [:btn, 'btn-primary']

