#clarification_new_wrapper

  %h5.modal-header New Clarification
  = form_for @clarification, url: teknion_claim_issue_clarifications_path(@clarification.issue_id, claim_id: @claim_id), html: { class: 'form-horizontal', id: 'new_clarification' } do |f|

    - if @clarification.errors.any?
      #error_explanation
        %h2
          = pluralize(@clarification.errors.count, "error")
          prohibited this clarification from being saved:
        %ul
          - @clarification.errors.full_messages.each do |message|
            %li= message
        .confirm-dismiss
          %a.btn.btn-default.btn-sm
            OK
    = f.hidden_field :type
    %p.mod-author
      = f.label :sent_by
      = session[:FirstName] + ' ' + session[:LastName]
    %p.mod-subject
      = f.label :subject
      = f.text_field :subject

    - if @clarification.type == 'question'
      %p.mod-question
        = f.label :content, "Question"
        = f.text_area :content, :cols => "50", :rows => "10"
    %p
      = f.label nil, "Attachments"
      = f.file_field 'file_uploaded'
    .form-actions
      %a{:href => "javascript:submit_form()", :class => [:btn, 'btn-primary'], :id => "send_btn"} Send
      %a{:href => "#", :class => [:btn, 'btn-primary', 'jqmClose'], :id => "close_btn"} Cancel 
:javascript
  function submit_form(){
      $('#send_btn').addClass("disabled");
      $('form#new_clarification').submit();
    }    
      
