#claim_content
  .col-md-12
    .btn-group
      %button#new_backcharge.btn.btn-default New
  .col-md-12
    .table-responsive
      %table.table.table-striped.table-hover
        %thead
          %tr
            %th
              Back Charge ID
            %th
              Type
            %th
              Date
            %th
              Requested Amount
            %th
              Status
            %th
              Action
        %tbody.rowlink
          - @claim_issue.back_charges.each do |back_charge|
            %tr
              %td
                %a{href: 'javascript:;', id: "back_charge_modal_#{back_charge.bc_id}"}
                  = back_charge.bc_id
              %td
                - if back_charge.bc_type_code.eql?'BCWP' 
                  With Product
                - else
                  Without Product
              %td
                = back_charge.create_date
              %td
                = number_to_currency(back_charge.estimate_amount)
              %td
                = back_charge.bc_status
              %td
                %a{:href => "#",:id=>"request_close_#{back_charge.bc_id}", :class => ['glyphicon','glyphicon-folder-close'], :title => 'Request Close'}
              %div.jqmWindow.closeReqWindow{id: "request_close_#{back_charge.bc_id}_modal"}
              :javascript
                $('#request_close_#{back_charge.bc_id}_modal').jqm({
                ajax: "/tekcare/claim_issues/#{@claim_issue.issue_id}/back_charges/closereq/new?claim_id=#{@claim_id}&bc_id=#{back_charge.bc_id}",
                trigger: '#request_close_#{back_charge.bc_id}',
                modal: true
                });

            %div.jqmWindow.back_charge_modal{id: "back_charge_modal_#{back_charge.bc_id}"}
              Please wait...

            :javascript
              $(function() {
                $('#back_charge_modal_#{back_charge.bc_id}').jqm({
                  ajax: "/tekcare/claim_issues/#{@claim_issue.issue_id}/back_charges/#{back_charge.bc_id}/edit?dealer_code=#{@dealer_code}",
                  trigger: 'a#back_charge_modal_#{back_charge.bc_id}',
                  modal: true
                });
              });
  #new_backcharge_modal.jqmWindow
    Please wait...


:javascript
  $(function() {
    $('#new_backcharge_modal').jqm({
      ajax: "/tekcare/claim_issues/#{@claim_issue.issue_id}/back_charges/new?claim_id=#{@claim_id}",
      trigger: '#new_backcharge',
      modal: true
    });
  });