= form_for @login_authenticate, url: {action: "idpLogin", id: "login_frm"} do |f|
  %div
    .col-md-12
      %h4
        - if @errCode==nil
          =t('login_page.login_prompt')
        - else
          = @errCode
  %br
    %br
      .row
        .col-md-12
          .col-md-1
          .col-md-11
            .col-md-3= label_tag(:username, t('login_page.username_label'))
            .col-md-9= f.text_field :username
      %br
        .row
          .col-md-12
            .col-md-1
            .col-md-11
              .col-md-3= label_tag(:password, t('login_page.password_label'))
              .col-md-9= f.password_field :password
        %br
          .row
            .col-md-12
              .col-md-1
              .col-md-11
                .col-md-3= label_tag(:language, t('general_languages.language_label'))
                .col-md-9
                  = f.select :language, [[t('general_languages.language_option_en'),'en'],[t('general_languages.language_option_fr'),'fr']]
          %br
            %br
              .col-md-12
                .col-md-1
                .col-md-11
                  %a{:href => "javascript:submit_form()", :class => [:btn, 'btn-primary'], :id => "send_btn"}
                    =t('general_buttons.login_btn')
                  %a{:href => "#", "data-dismiss" => "modal",:class => [:btn, 'btn-primary', 'jqmClose'], :id => "close_btn"}
                    =t('general_buttons.close_btn')

 
              