= nested_form_for @journal, url: teknion_claim_issue_journals_path(@journal.issue_id, @journal, claim_id: @claim_id), html: { class: 'form-horizontal', id: 'whatever', multipart: true } do |f|

  - if @journal.errors.any?
    #error_explanation
      %h2
        = pluralize(@journal.errors.count, "error")
        prohibited this journal from being saved:
      %ul
        - @journal.errors.full_messages.each do |message|
          %li= message
  .table-responsive
    %table.table.journal-additional-info
      %tbody.rowlink
        %tr
          %td.labels
            = f.label :created_by
          %td
            %span= @journal.created_by
        %tr
          %td
            = f.label :subject
          %td   
            %span= @journal.subject
        %tr
          %td
            = f.label :content, "Information"
          %td
            %span= @journal.content

  .form-actions
    = button_tag "Close", class: [:btn, 'btn-primary']