= nested_form_for @journal, url: teknion_claim_issue_journals_path([params[:claim_issue_id], @journal]), html: { class: 'form-horizontal', id: 'whatever', multipart: true } do |f|

  - if @journal.errors.any?
    #error_explanation
      %h2
        = pluralize(@journal.errors.count, "error")
        prohibited this journal from being saved:
      %ul
        - @journal.errors.full_messages.each do |message|
          %li= message

  %p.mod-author
    = f.label :created_by
    = f.text_field :created_by
  %p.mod-title
    = f.label :subject
    = f.text_field :subject
  %p.mod-information
    = f.label :content, "Information"
    = f.text_area :content, placeholder: 'Type your information here'

  = f.fields_for :journal_attachments do |journal_attachment_form|
    = journal_attachment_form.file_field :attachment
    -#= journal_attachment_form.link_to_remove "Remove this journal"

  .form-actions
    = f.button :submit, class: [:btn, 'btn-primary']
