= form_for @internal_installers_certification do |f|
  - if @internal_installers_certification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@internal_installers_certification.errors.count, "error")} prohibited this internal_installers_certification from being saved:"
      %ul
        - @internal_installers_certification.errors.full_messages.each do |msg|
          %li= msg
  .container
    .row
      .col-md-4
        = image_tag("teklogo-green.jpg", :width => "50", :height => "50") 
        North American Installer Registry
      .col-md-4
      .col-md-4
    .row
      .col-md-4
      .col-md-4
      .col-md-4
    .form-group
    .row
      .col-md-2
        = f.submit 'Save', :class => ['btn', 'btn-primary']
        = link_to 'Cancel', internal_installers_certifications_path,:class => ['btn', 'btn-primary']
      .col-md-10
        .form-group
    .row
      .col-md-4
        %br
      .col-md-4
      .col-md-4
    .row
      .col-md-2
        %p
          Company Name
      .col-md-10
        .form-group
          %input.form-control{:type => "text"}/
    .row
      .col-md-2
        %p
          Address
      .col-md-10
        .form-group
          %input.form-control{:type => "text"}/
    .row
      .col-md-3
        %p
          City
      .col-md-3
        .form-group
          %input.form-control{:type => "text"}/
      .col-md-3
        %p
          Provice/State
      .col-md-3
        %input.form-control{:type => "text"}/
    .row
      .col-md-3
        %p
          Country
      .col-md-3
        .form-group
          %input.form-control{:type => "text"}/
      .col-md-3
        %p
          Postal/Zip Code
      .col-md-3
        %input.form-control{:type => "text"}/
    .row
      .col-md-3
        %p
          Contact Name
      .col-md-3
        .form-group
          %input.form-control{:type => "text"}/
      .col-md-3
        %p
          Contact Number
      .col-md-3
        %input.form-control{:type => "text"}/
    .row
      .col-md-3
        %p
          Contact Email
      .col-md-3
        .form-group
          %input.form-control{:type => "text"}/
      .col-md-3
      .col-md-3
    .row
      .col-md-3
        %p
          Associated Dealers
    .col-md-3
      %textarea.form-control
      .col-md-3
        Projects
      .col-md-3
        %textarea.form-control
    .row
      .col-md-2
        %p
          Comments
      .col-md-10
        %textarea.form-control
    .row
      .col-md-2
        %a.btn.btn-primary{:href => "screen-0cb05e63ab.html"} Add Installer
      .col-md-10
        .form-group
    %table.table
      %tbody
        %tr
          %td
            Installer Name
          %td
            Certifications
          %td
            Expiration
          %td
            %br/
        %tr
          %td
            Joe Installer
          %td
            Altos
          %td
            01-01-2018
          %td
            %br/
        %tr
          %td
            Joe Installer
          %td
            Altos
          %td
            01-01-2018
          %td
            %br/
        %tr
          %td
            Joe Installer
          %td
            Altos
          %td
            01-01-2018
          %td

    
