/ = render 'shared/sidebar'

.tek-bar
  .container-fluid
    %p.breadcrumb
      %span.last='Tekcare'
    %button.btn.btn-default.btn-xs.to-submit{class: ('active' if params[:status] == 'to_submit')}
      = link_to "To Submit  100", '/claimsrequests'
    .claim-filters.btn-group.btn-group-xs
      %button.btn.btn-default.in-progress{class: ('active' if params[:status].nil?)}
        = link_to "In Progress  20", teknion_claims_path
      %button.btn.btn-default.clairfication{class: ('active' if params[:status] == 'clairfication')}
        = link_to "Clarification  30", teknion_claims_path(status: 'clarification')
      %button.btn.btn-default.resolved{class: ('active' if params[:status] == 'resolved')}
        = link_to "Resolved  40", teknion_claims_path(status: 'resolved')
      %button.btn.btn-default.closed{class: ('active' if params[:status] == 'closed')}
        = link_to "Closed  100", teknion_claims_path(status: 'closed')
    .claim-filters.btn
      %i.glyphicon.glyphicon.glyphicon-edit=' New'
.container-fluid.claims-list
  .col-sm-12.main
    %h2.page-header.claim-status=t('claims')
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th Incident Number
          %th Title
          %th Project
          %th Created By
          %th Last Modified
          %th Status
          %th Actions
      %tbody.rowlink{"data-link" => "row"}
        - @claims.each do |claim|
          %tr
            %td
              = link_to claim.tekcare_number, teknion_claim_path(claim)
            %td= claim.claim_title
            %td= claim.project_name
            %td= claim.dealer_name
            %td= claim.updated_at
            %td= claim.status
            %td= button_to "Cancel", cancel_teknion_claim_path(claim), method: :delete
