%p#notice= notice

.tek-bar
  .container-fluid
    %p.breadcrumb
      %a{:href => "/claims"}='Tekcare'
      %span /
      %span.last Incident: #{@claim.tekcare_number}
.claim
  .h3
    Tekcare Incident: #{@claim.tekcare_number}
  .claim-details
    .container-fluid
      .row
        .col-sm-12
          %legend.info-toggle
            General Claim Information
            %a{:href => "#", :sect => "General_Info"} Hide/Show

    #General_Info{:name => "General_Info"}
      .container-fluid
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading Dealer Information
        .row
          .col-sm-1
          .col-sm-2
            %label Dealer Name
          .col-sm-3
            = @claim.dealer_name
          .col-sm-2
            %label Dealer Number
          .col-sm-3
            = @claim.dealer_code
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label Dealer Contact Name
          .col-sm-3
            = @claim.dealer_contact_name
          .col-sm-2
            %label Dealer Contact Number
          .col-sm-3
            = @claim.dealer_contact_number
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label Dealer Contact Email
          .col-sm-7
            = @claim.dealer_contact_email
          .col-sm-1
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading Original Order Information
        .row
          .col-sm-1
          .col-sm-2
            %label Universal Number
          .col-sm-3
            = @claim.universal
          .col-sm-2
            %label PO Number
          .col-sm-3
            = @claim.original_po
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label SQ Number
          .col-sm-3
            = @claim.original_sq
          .col-sm-2
            %label SQ Rev Number
          .col-sm-3
            = @claim.original_po_rev
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label End Customer
          .col-sm-3
            = @claim.end_customer_name
          .col-sm-2
            %label Received Dated
          .col-sm-3
            = @claim.shipment_received_date
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label Product Storage
          .col-sm-3
            = @claim.product_in_storage
          .col-sm-2
            %label Project Name
          .col-sm-3
            = @claim.project_name
          .col-sm-1  
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading Installation Information
        .row
          .col-sm-1
          .col-sm-2
            %label Installation Status
          .col-sm-3
            In Progress: #{@claim.installation_in_progress}
          .col-sm-2
            %label Estimated Completion
          .col-sm-3
            = @claim.scheduled_install_completion
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label Installation Company
          .col-sm-3
            = @claim.installation_company
          .col-sm-2
            %label Installer Lead
          .col-sm-3
            = @claim.installer_name
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label Lead Contact Number
          .col-sm-3
            = @claim.installer_number
          .col-sm-2
            %label Lead Contact E-mail
          .col-sm-3
            = @claim.installer_email
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label Site Contact Name
          .col-sm-7
            = @claim.site_visit_contact_name
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label Site Contact Number
          .col-sm-3
            = @claim.site_visit_contact_number
          .col-sm-2
            %label Site Contact E-mail
          .col-sm-3
            = @claim.site_visit_contact_email
          .col-sm-1  
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading Replacement Order Information
        .row
          .col-sm-1
          .col-sm-2
            %label Ship To Name
          .col-sm-8
            = @claim.replacement_shipto_name
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label Address
          .col-sm-3
            = @claim.replacement_shipto_address
          .col-sm-2
            %label City
          .col-sm-3
            = @claim.replacement_shipto_city
          .col-sm-1  
        .row
          .col-sm-1
          .col-sm-2
            %label State/Province
          .col-sm-3
            = @claim.replacement_shipto_state_prov
          .col-sm-2
            %label Postal/Zip Code
          .col-sm-3
            = @claim.replacement_shipto_zip_pc
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label Call Before Name
          .col-sm-3
            = @claim.site_visit_contact_name
          .col-sm-2
            %label Call Before Number
          .col-sm-3
            = @claim.site_visit_contact_number
          .col-sm-1
        .row
          .col-md-12.dealer-section
            %legend.dealer-heading
              Issues
        .row
          .col-md-12
            .table-responsive
              %table.table.table-striped.table-hover
                %thead
                  %tr
                    %th
                      Issue Number
                    %th
                      Shipment Number
                    %th
                      Item Code
                    %th
                      CR Number
                    %th
                      Item Description
                    %th
                      Line Notes
                    %th
                      Tags
                    %th
                      Status
                %tbody.rowlink{"data-link" => "row"}
                  - @claim.claim_issues.each do |claim_issue|
                    %tr
                      %td
                        -#/ <a data-target="#issueModal" data-toggle="modal" href="#">2014-000001-001</a></td>
                        -#%a{"data-target" => "active-issue.html", :href => "#"}
                          -#= claim_issue.issue_id
                        = link_to claim_issue.issue_id, teknion_claim_issue_path(claim_issue)
                      %td
                        = claim_issue.shipment_number
                      %td
                        = claim_issue.item_code
                      %td
                        = claim_issue.cr
                      %td
                        = claim_issue.item_description
                      %td
                        = claim_issue.line_text
                      %td
                        = claim_issue.tag
                      %td
                        = claim_issue.status
