%p#notice= notice

.tek-bar
  .container-fluid
    %p.breadcrumb
      = link_to 'Tekcare', teknion_claims_path
      %span /
      %span.last 
        =t('claim_show_form.claim_number')
        #{@claim.header['tekcare_number']}
.claim
  .claim-details
    .container-fluid
      .row
        %h2
          %u
            =t('claim_show_form.claim_title_lbl')
            = @claim.header['project_name']
    %legend
      =t('claim_show_form.claim_general_lbl') 
      %a{:href => "#", :sect => "General_Info", :id=>"claiminfo"}
        %span.glyphicon.glyphicon-triangle-top
    #General_Info{:name => "General_Info"}
      .container-fluid
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading 
              =t('claim_show_form.dealer_info_lbl')
        .row
          .col-sm-1
          .col-sm-2
            %label 
              =t('claim_show_form.dealer_name_lbl')
          .col-sm-3
            = @claim.customer['dealer_name']
          .col-sm-2
            %label 
              =t('claim_show_form.dealer_number_lbl')
          .col-sm-3
            = @claim.customer['dealer_code']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label 
              =t('claim_show_form.dealer_contact_name_lbl')
          .col-sm-3
            = @claim.customer['dealer_contact_name']
          .col-sm-2
            %label 
              =t('claim_show_form.dealer_contact_number_lbl')
          .col-sm-3
            = @claim.customer['dealer_contact_number']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label 
              =t('claim_show_form.dealer_contact_email_lbl')
          .col-sm-7
            = @claim.customer['dealer_contact_email']
          .col-sm-1
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading 
              =t('claim_show_form.org_order_info_lbl')
        .row
          .col-sm-1
          .col-sm-2
            %label 
              =t('claim_show_form.universal_num_lbl')
          .col-sm-3
            = @claim.header['original_universal']
          .col-sm-2
            %label 
              =t('claim_show_form.po_num_lbl')
          .col-sm-3
            = @claim.header['original_po']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.sq_num_lbl')
          .col-sm-3
            = @claim.header['original_sq']
          .col-sm-2
            %label 
              =t('claim_show_form.sq_rev_num_lbl')
          .col-sm-3
            = @claim.header['original_sq_revision']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label 
              =t('claim_show_form.end_customer_lbl')
          .col-sm-3
            = @claim.header['end_customer_name']
          .col-sm-2
            %label 
              =t('claim_show_form.rec_date_lbl')
          .col-sm-3
            = @claim.header['submission_date']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
          .col-sm-3
          .col-sm-2
            %label 
              =t('claim_show_form.proj_name_lbl')
          .col-sm-3
            =@claim.header['project_name']
          .col-sm-1
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading
              =t('claim_show_form.install_info_lbl')
        .row
          .col-sm-1
          .col-sm-2
            %label 
              =t('claim_show_form.intall_progress_lbl')
          .col-sm-3
            = @claim.header['installation_in_progress']=='false' ? 'No' : 'Yes'
          .col-sm-2
            %label
              =t('claim_show_form.estimated_complete_lbl')
          .col-sm-3
            = @claim.header['est_install_complete_date']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.install_company_lbl')
          .col-sm-3
            = @claim.header['installation_company']
          .col-sm-2
            %label
              =t('claim_show_form.install_lead_lbl')
          .col-sm-3
            = @claim.header['installation_lead_contact_name']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.lead_contact_num_lbl')
          .col-sm-3
            = @claim.header['installation_lead_contact_phone']
          .col-sm-2
            %label 
              =t('claim_show_form.lead_contact_email_lbl')
          .col-sm-3
            = @claim.header['installation_lead_contact_email']
          .col-sm-1
        .row
          .col-sm-12.dealer-section
            %legend.dealer-heading 
              =t('claim_show_form.replace_order_info_lbl')
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.ship_name_lbl')
          .col-sm-8
            = @claim.ship_replacement_to['shipto_name']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.addr_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['address1']
          .col-sm-2
            %label
              =t('claim_show_form.city_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['city']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.state_prov_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['state_prov']
          .col-sm-2
            %label
              =t('claim_show_form.postal_zip_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['postal_zip']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.call_before_name_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['cb_name']
          .col-sm-2
            %label
              =t('claim_show_form.call_before_num_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['cb_number']
          .col-sm-1
        .row
          .col-sm-1
          .col-sm-2
            %label
              =t('claim_show_form.after_contact_name_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['ah_name']
          .col-sm-2
            %label 
              =t('claim_show_form.after_contact_num_lbl')
          .col-sm-3
            = @claim.ship_replacement_to['ah_number']
          .col-sm-1
    .container-fluid
      .row
        .col-md-12.dealer-section
    %legend
      =t('claim_show_form.issue_title_lbl')    
    #IssueInfo{:name => "Issue_Info"}
      .row
        .col-md-12
          .table-responsive
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th
                    =t('claim_show_form.issue_num_lbl')
                  %th
                    =t('claim_show_form.issue_ship_num_lbl')
                  %th
                    =t('claim_show_form.issue_item_code_lbl')
                  %th
                    =t('claim_show_form.issue_cr_num_lbl')
                  %th
                    =t('claim_show_form.issue_desc_lbl')
                  %th
                    =t('claim_show_form.issue_line_notes_lbl')
                  %th
                    =t('claim_show_form.issue_tag_lbl')
                  %th
                    =t('claim_show_form.issue_status_lbl')
                  %th
                    =t('claim_show_form.issue_action_lbl')
              %tbody.rowlink{"data-link" => "row"}
                - @claim.claim_issues.each do |claim_issue|
                  %tr
                    %td
                      = link_to claim_issue.issue_id, teknion_claim_issue_path(claim_issue.issue_id, claim_id: @claim.header['tekcare_number'])
                    %td
                      = claim_issue.original_shipment
                    %td
                      = claim_issue.item_code
                    %td
                      = claim_issue.original_cr_number
                    %td
                      = claim_issue.problem_description
                    %td
                      = claim_issue.original_line_notes
                    %td
                      = claim_issue.original_line_tags
                    %td
                      = claim_issue.issue_status_desc
                    %td
                      %a{:href => "#",:id=>"request_close_#{claim_issue.issue_id}", :class => ['glyphicon','glyphicon-folder-close'], :title => 'Request Close'}
                    %div.jqmWindow.closeReqWindow{id: "request_close_#{claim_issue.issue_id}_modal"}
                    :javascript
                      $('#request_close_#{claim_issue.issue_id}_modal').jqm({
                      ajax: "/claim_issues/#{claim_issue.issue_id}/closereq/new?claim_id=#{claim_issue.issue_id}&incident_id=#{@claim.header['tekcare_number']}",
                      trigger: '#request_close_#{claim_issue.issue_id}',
                      modal: true
                      });
                      
:javascript

  function hide_element(obj_name) {

  var tbl=$('#'+obj_name);
  
  
  if ($('#'+obj_name).css('display')=='block')
  {
    $('#'+obj_name).hide();
    }
    else {
  $('#'+obj_name).show();
  }
  }

  $('#claiminfo').click(function (e){
        e.preventDefault();
      
        hide_element($(this).attr('sect'));
        });
 