<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8" />
  <meta content="IE=edge" http-equiv="X-UA-Compatible" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  <link href="../../assets/ico/favicon.ico" rel="shortcut icon" />
  <title>Teknionline</title>
           
  <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "dashboard" %>
    <%= stylesheet_link_tag    "carousel" %>
 </head>
<!-- Navbar Header --> <body>
<% if session[:session_cookie] !=nil %>

<iframe style="display: none" src="<%= session[:session_cookie] %>">
</iframe>
<% end %>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
     <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation </span></button><a class="navbar-brand" href="\"><%= image_tag("teklogo-green.jpg", :width => "50", :height => "50") %> TekniOnline </a></div>
    <div class="navbar-collapse collapse">
     
          <% if session[:FirstName] != nil %> 
 
    <ul class="nav navbar-nav navbar-left">
<% create_menu %>

 <% @main_menu.each do |menu_item| %>


 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      
           
<%= menu_item[0] %> 
<b class="caret"></b></a>
          <ul class="dropdown-menu">
            
           <% for i in 1..menu_item.length-1 %>
          
        
          <li><a href="<%= menu_item[i][1] %>"> <%= menu_item[i][0] %> </a></li> 
          <% end %> 
               
          </ul>
        </li>
  <% end %>    
 </ul>
 <% end %>
    <ul class="nav navbar-nav navbar-right">

 <% if session[:FirstName] == nil %> 

      <li><a href="/login/authenticates/login">Login</a></li>      
<% else %>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
<%= render :text => session[:FirstName]  %> 
<%= render :text => session[:LastName]  %>

<b class="caret"></b></a>
          <ul class="dropdown-menu dropdown-menu-right">
          
  <li class="dropdown-header">Accounts</li>
	<% @userAccounts=getAccounts(session[:Groups]) %>    
          <% @userAccounts.each do |account_number| %>
            <li>
            <a href="/teknionline/profiles/switch/<%= account_number.split('|')[1] %> ">
            
            
            <% if account_number.match(/#{session[:DealerCode]}/) !=nil %>
            
            <i class="glyphicon glyphicon glyphicon-ok icon-action" > </i>
            <% end %>
          <%= account_number.split('|')[0] + ' ('+account_number.split('|')[1] +')' %>
          </a></li>
          <% end %>
       <li class="divider"></li>
       <li class="dropdown-header">Settings</li>
          <li><a href="/teknionline/profiles/edit">Account Settings</a></li> 
            <li class="divider"></li>
            <li><a href="/login/authenticates/logout">Log Out</a></li>
       
        
          </ul>
        </li>
     
   <% end %>
   <% @mygroups=Array.new %>
   <% @mygroups=session[:Groups] %>
   <% if @mygroups !=nil %>
   <% if !@mygroups.grep(/admin/).empty? %>
   
  <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
Tools
<b class="caret"></b></a>
          <ul class="dropdown-menu">

   <li><a href="/usermanagement/users/">User Admin</a></li>  
<% if !@mygroups.grep(/portal/).empty? %>
            <li>   <a href="/portalmanager/appdefs">Portal Admin</a></li>
    <% end %>
        
          </ul>
        </li>    
      <% end %>
 <% end %>
    <li>   <a href="#">Help</a></li>
  </ul></div>
  </div>
  </div>

<%= yield %>

</body>

<script>
/*$('#login').click(function (e) {
   e.preventDefault();
                var target_issue=$(this).attr('data-target');
                $('#modal_content').load(target_issue);
                 $('#contentModal').modal('show');
});*/
</script>
</html>
